Repository brianespinosa/kandb.co: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, yarn pretty-quick --staged, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,less}": ["stylelint --fix", "yarn pretty-quick --staged"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "yarn pretty-quick --staged"],
  "*.{md,mdx,html}": ["yarn pretty-quick --staged"]
}

fix: resolve Dependabot security alert
  package.json
  yarn.lock
Due: none

fix: dependabot alert - ip
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Create CNAME
  CNAME
Due: none

feat: github pages
  apple-touch-icon.png
  favicon.ico
  index.html
  robots.txt
  site.webmanifest
  style.css
Due: stylelint --fix, yarn pretty-quick --staged

remove unused
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/ci.yml
  .gitignore
  .nvmrc
  .yarnrc.yml
  README.md
  eslint.config.mjs
  next-env.d.ts
  next.config.js
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/components/Logo/Logo.js
  src/components/Logo/Logo.module.scss
  src/components/Logo/index.js
  src/components/Main/Main.js
  src/components/Main/Main.module.scss
  src/components/Main/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/app.css
  src/pages/index.js
  src/pages/index.module.scss
  style.css
  tsconfig.json
  yarn.lock
Due: stylelint --fix, yarn pretty-quick --staged, eslint --fix

clean up root
  .lintstagedrc.json
  docs/apple-touch-icon.png
  docs/favicon.ico
  docs/index.html
  docs/robots.txt
  docs/site.webmanifest
  docs/style.css
  package.json
  public/index.html
  yarn.lock
Due: stylelint --fix, yarn pretty-quick --staged

Create CNAME
  docs/CNAME
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add .github/settings.yml for repository configuration management
  .github/settings.yml
Due: none

chore: add GitHub remote MCP configuration
  .mcp.json
Due: none

chore: add GitHub remote MCP configuration (#23)
  .mcp.json
Due: none

docs: update README header
  README.md
Due: yarn pretty-quick --staged

docs: update README header (#24)
  README.md
Due: yarn pretty-quick --staged

chore: add probot/settings configuration
  .github/settings.yml
Due: none

chore: add probot/settings configuration (#25)
  .github/settings.yml
Due: none

Convert kandb.co from static site to Next.js app
  .github/CLAUDE.md
  .github/settings.yml
  .gitignore
  .lintstagedrc.json
  .simple-git-hooks.rc
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  CLAUDE.md
  CNAME
  docs/CNAME
  docs/favicon.ico
  docs/index.html
  docs/robots.txt
  docs/site.webmanifest
  next-env.d.ts
  next.config.ts
  package.json
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/components/KandbLogo.tsx
  stylelint.config.js
  tsconfig.json
  yarn.lock
Due: stylelint --fix, yarn pretty-quick --staged, eslint --fix

Convert kandb.co from static site to Next.js app (#26)
  .github/CLAUDE.md
  .github/settings.yml
  .gitignore
  .lintstagedrc.json
  .simple-git-hooks.rc
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  CLAUDE.md
  CNAME
  docs/CNAME
  docs/favicon.ico
  docs/index.html
  docs/robots.txt
  docs/site.webmanifest
  next-env.d.ts
  next.config.ts
  package.json
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/components/KandbLogo.tsx
  stylelint.config.js
  tsconfig.json
  yarn.lock
Due: stylelint --fix, yarn pretty-quick --staged, eslint --fix

chore: add GitHub MCP server settings
  .claude/settings.json
Due: none

chore: add GitHub MCP server settings (#27)
  .claude/settings.json
Due: none

chore: update CLAUDE.md and remove claude-code-review workflow
  .claude/settings.json
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: yarn pretty-quick --staged

chore: update CLAUDE.md and remove claude-code-review workflow (#30)
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: yarn pretty-quick --staged

chore: align config and dependencies with career reference
  .github/dependabot.yml
  .yarnrc.yml
  next-env.d.ts
  next.config.ts
  package.json
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

docs(.github): document Dependabot configuration in CLAUDE.md
  .github/CLAUDE.md
Due: yarn pretty-quick --staged

chore: config & dependency alignment (#37)
  .github/CLAUDE.md
  .github/dependabot.yml
  .yarnrc.yml
  next-env.d.ts
  next.config.ts
  package.json
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: add biome and lefthook
  biome.json
  lefthook.yml
  package.json
  yarn.lock
Due: none

chore(biome): apply initial formatting
  biome.json
  next-env.d.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/components/KandbLogo.tsx
Due: yarn pretty-quick --staged, eslint --fix

ci: add biome job and setup action
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

docs: add ADR 001 (use ADRs) and ADR 002 (yarn cache)
  .github/CLAUDE.md
  .github/actions/setup/action.yml
  docs/adr/001-use-adrs.md
  docs/adr/002-github-actions-yarn-cache.md
Due: yarn pretty-quick --staged

chore: gitignore next-env.d.ts and tsbuildinfo
  .gitignore
  next-env.d.ts
Due: yarn pretty-quick --staged, eslint --fix

ci: restrict GITHUB_TOKEN to contents read
  .github/workflows/ci.yml
Due: none

docs: add ADR guidance to root CLAUDE.md
  CLAUDE.md
Due: yarn pretty-quick --staged

chore: add biome and lefthook (#40)
  .github/CLAUDE.md
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  biome.json
  docs/adr/001-use-adrs.md
  docs/adr/002-github-actions-yarn-cache.md
  lefthook.yml
  next-env.d.ts
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/components/KandbLogo.tsx
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: add Vitest + Testing Library (#33)
  package.json
  src/app/page.test.tsx
  src/components/KandbLogo.test.tsx
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: align test files and tsconfig with career
  src/app/page.test.tsx
  src/components/KandbLogo.test.tsx
  tsconfig.json
Due: yarn pretty-quick --staged, eslint --fix

ci: add typecheck and test jobs
  .github/workflows/ci.yml
Due: none

chore: add 100% coverage thresholds to vitest config
  vitest.config.ts
Due: yarn pretty-quick --staged, eslint --fix

chore: add Vitest + Testing Library (#41)
  .github/workflows/ci.yml
  package.json
  src/app/page.test.tsx
  src/components/KandbLogo.test.tsx
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: add Knip (dead code detection)
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  knip.config.ts
  package.json
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

docs: add ADR-003 for knip; update CI and docs
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .yarnrc.yml
  docs/adr/003-knip-unused-detection.md
Due: yarn pretty-quick --staged
