Repository brianespinosa/kandb.co: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, yarn pretty-quick --staged, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,less}": ["stylelint --fix", "yarn pretty-quick --staged"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "yarn pretty-quick --staged"],
  "*.{md,mdx,html}": ["yarn pretty-quick --staged"]
}

chore: add Knip (dead code detection) (#42)
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  docs/adr/003-knip-unused-detection.md
  knip.config.ts
  package.json
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: add Playwright + e2e tests
  .gitignore
  .yarnrc.yml
  e2e/CLAUDE.md
  e2e/accessibility.spec.ts
  e2e/home.spec.ts
  package.json
  playwright.config.ts
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: add Playwright + e2e tests (#43)
  .gitignore
  .yarnrc.yml
  e2e/CLAUDE.md
  e2e/accessibility.spec.ts
  e2e/home.spec.ts
  package.json
  playwright.config.ts
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: add Vercel build and e2e jobs to CI
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn pretty-quick --staged

chore: add Vercel build and e2e jobs to CI (#44)
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn pretty-quick --staged

ci: complete CI workflow setup
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/dependabot-auto-merge.yml
Due: yarn pretty-quick --staged

ci: complete CI workflow setup (#45)
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/dependabot-auto-merge.yml
Due: yarn pretty-quick --staged

chore: update vitest and vercel to latest
  package.json
  vitest.config.ts
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: update vitest and vercel to latest (#46)
  package.json
  vitest.config.ts
  yarn.lock
Due: yarn pretty-quick --staged, eslint --fix

chore: update vite, plugin-react, and typescript to latest major
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: fix .yarnrc.yml peer suppression for TypeScript 6
  .yarnrc.yml
Due: none

chore: revert TypeScript to 5.9.3 pending upstream peer dep fix
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: standardize tooling, config, and docs to match career reference
  .github/CLAUDE.md
  .gitignore
  CLAUDE.md
  e2e/CLAUDE.md
  knip.config.ts
  package.json
  tsconfig.json
Due: yarn pretty-quick --staged, eslint --fix

chore: standardize tooling, config, and docs to match career reference (#48)
  .github/CLAUDE.md
  .gitignore
  CLAUDE.md
  e2e/CLAUDE.md
  knip.config.ts
  package.json
  tsconfig.json
Due: yarn pretty-quick --staged, eslint --fix

chore: add .claude/worktrees/ to .gitignore
  .gitignore
Due: none

chore: add .claude/worktrees/ to .gitignore (#49)
  .gitignore
Due: none

chore: regenerate lockfile with latest transitive dependencies
  yarn.lock
Due: none

chore: regenerate lockfile with latest transitive dependencies (#52)
  yarn.lock
Due: none

fix(deps): resolve CVE-2026-29786 via scoped tar resolution
  package.json
  yarn.lock
Due: none

fix(deps): resolve CVE-2026-29786 in @vercel/fun/tar (#53)
  package.json
  yarn.lock
Due: none

fix: pin minimatch via scoped resolutions to address ReDoS CVE
  package.json
  yarn.lock
Due: none

fix: pin minimatch via scoped resolutions to address ReDoS CVE (#54)
  package.json
  yarn.lock
Due: none

chore: align .gitignore with reference repo
  .gitignore
Due: none

chore: align .gitignore with reference repo (#55)
  .gitignore
Due: none

fix: add scoped resolutions for undici, srvx, and @tootallnate/once CVEs
  package.json
  yarn.lock
Due: none

fix: add scoped resolutions for undici, srvx, and @tootallnate/once CVEs (#56)
  package.json
  yarn.lock
Due: none

chore(deps): group react and react-dom in dependabot
  .github/dependabot.yml
Due: none

chore(deps): group react and react-dom in dependabot (#79)
  .github/dependabot.yml
Due: none

fix(deps): resolve 2 Dependabot alert(s) for vite
  package.json
  yarn.lock
Due: none

fix(deps): resolve 2 Dependabot alerts for vite (#246)
  package.json
  yarn.lock
Due: none

fix(deps): resolve 3 Dependabot alerts for js-yaml
  package.json
  yarn.lock
Due: none

fix(deps): resolve 3 Dependabot alerts for js-yaml (#247)
  package.json
  yarn.lock
Due: none

fix(deps): resolve 19 Dependabot alerts for undici
  package.json
  yarn.lock
Due: none

fix(deps): resolve 19 Dependabot alerts for undici (#248)
  package.json
  yarn.lock
Due: none

fix(deps): resolve 1 Dependabot alert for nanoid
  package.json
  yarn.lock
Due: none

fix(deps): resolve Dependabot alert for nanoid (#249)
  package.json
  yarn.lock
Due: none

fix(deps): resolve 1 Dependabot alert(s) for brace-expansion
  package.json
  yarn.lock
Due: none

fix(deps): resolve Dependabot alert for brace-expansion (#250)
  package.json
  yarn.lock
Due: none

fix(deps): resolve 1 Dependabot alert for esbuild
  package.json
  yarn.lock
Due: none
